<div class="container">
    <h2>Заказы</h2>
    <br>

    {{ if .Content.Products }}
    <div class="accordion" id="accordionExample">
    {{ range $index, $element := .Content.Products }}
        <div class="card">
            <div class="card-header" id="heding{{ $index }}">
                <h5 class="mb-0">
                    <button class="btn btn-link none-decor" type="button" data-toggle="collapse" data-target="#collapse{{ $index }}" aria-expanded="false">
                        Заказ с номером {{ .Order.ID }} на сумму {{ .SumCost }} ₽ {{ .Status }}
                    </button>
                    <a class="btn btn-link none-decor text-date">{{ .Order.Data }}</a>
                </h5>
            </div>

            <div id="collapse{{ $index }}" class="collapse" aria-labelledby="heading{{ $index }}" data-parent="#accordionExample">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Позиция</th>
                                <th scope="col">Название</th>
                                <th scope="col">Цена, ₽</th>
                                <th scope="col">Количество, шт</th>
                                <th scope="col">Стоимость, ₽</th>
                                <th scope="col">Вес, гр</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $i, $e := .Purchases }}
                                <tr>
                                    <th scope="row">{{ increment $i }}</th>
                                    <td>{{ .Name }}</td>
                                    <td>{{ .Price }}</td>
                                    <td>{{ .Count }}</td>
                                    <td>{{ .Cost }}</td>
                                    <td>{{ .Mass }}</td>
                                </tr>
                            {{ end }}
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td>Итого</td>
                                <td>{{ .SumCost }}</td>
                                <td>{{ .SumMass }}</td>
                                <td></td>
                            </tr>
                            {{ $val := .Count}}
                            {{ range $index, $element := .Boxes }}
                                <tr>
                                    <th></th>
                                    <td></td>
                                    <td>{{ .Name }}</td>
                                    <td>{{ index $val $index }}</td>
                                    <td></td>
                                    <td>{{ .Weight }}</td>
                                </tr>
                            {{ end }}
                        </tbody>
                    </table>
            </div>
        </div>
    {{ end }}
    </div>
    {{ else }}
    <div class="container">
        <p>В данный момент заказов нет, но вы можете в любой сделать заказ из корзины!</p>
        <a href="/basket">Перейти к корзине</a>
    </div>
    {{ end }}

    <br>
    <br>
    <h2>Опасная зона</h2>
    <br>
    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group col">
                <label for="inputFirstName">Имя</label>
                <input type="name" name="fname" class="form-control" id="inputFirstName" placeholder="{{ .Content.Buyer.FirstName }}">
            </div>
            <div class="form-group col">
                <label for="inputSecondName">Фамилия</label>
                <input type="name" name="sname" class="form-control" id="inputSecondName" placeholder="{{ .Content.Buyer.SecondName }}">
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="inputPhone">Телефон</label>
                <input type="name" name="phone" class="form-control" id="inputPhone" placeholder="{{ .Content.Buyer.PhoneNumber }}">
            </div>
            <div class="form-group col">
                <label for="inputPassword">Пароль</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="{{ .Content.Buyer.Password }}">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Редактировать</button>
    </form>
</div>
