<div class="jumbotron">
  <h1 class="display-8">{{ .Content.Topic.Name }}</h1>
  <p class="lead">{{ .Content.Topic.Description }}</p>
</div>
<br>
{{ $ID := .Content.Cookie.ID }}
{{ if .Content.Comments }}
    {{ range .Content.Comments }}
    <div class="card" style="margin-bottom: 15px">
        <div class="card-body">
            <p class="card-text">{{ .Text }}</p>
        </div>
        <div class="card-footer footer-card-text text-muted">
            <div class="row">
                <p class="col-6">{{ .Date }} &nbsp;&nbsp; {{ .SecondName }} {{ .FirstName }}</p>
                {{ if eq .BuyerID $ID }}
                <form class="col-6" method="POST" enctype="multipart/form-data">
                    <input type="text" name="id" class="form-control" hidden value="{{ .Comment.ID }}">
                    <button type="submit" name="action" value="delete_comment" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </form>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
{{ else }}
<div class="container">
    <p>В данный момент комментариев нет!</p>
</div>
{{ end }}
<br>
<br>
<h2>Написть комментарий</h2>
<br>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputName">Текст</label>
        <textarea type="name" name="name" class="form-control" id="inputName" rows="3"></textarea>
    </div>
    <br>
    <button type="submit" name="action" value="comment" class="btn btn-primary">Создать</button>
</form>
