{{ if .Content }}
<div class="row">
    <div class="col-4">
        <form enctype="multipart/form-data">
            <h5>Тип товаров</h5>
            <fieldset class="list-group">
                {{ range .Content.Types }}
                    <li class="list-group-item">
                        <div class="custom-item">
                            <input type="radio" class="form-check-input check-custom" name="types_id" value="{{ .ID }}" id="{{ .ID }}" {{ .IsActive }}>
                            <label class="form-check-label label" for="{{ .ID }}">{{ .Name }}</label>
                        </div>
                    </li>
                {{ end }}
            </fieldset>
            <br>
            <h5>Поставщики</h5>
            <fieldset class="list-group">
                {{ range .Content.Distributors }}
                    <li class="list-group-item">
                        <div class="custom-item">
                            <input type="radio" class="form-check-input" name="distributors_id" value="{{ .ID }}" id="{{ .ID }}" {{ .IsActive }}>
                            <label class="form-check-label" for="{{ .ID }}">{{ .Name }}</label>
                        </div>
                    </li>
                {{ end }}
            </fieldset>
            <br>
            <button type="submit" class="btn btn-primary btn-block">Применить</button>
        </form>
        <br>
        <form enctype="multipart/form-data" method="POST">
            <button type="submit" name="type" value="clear" class="btn btn-outline-primary btn-block">Убрать фильтры</button>
        </form>
    </div>
    <div class="col-8 card-columns">
        {{ range .Content.Products }}
            <div class="card">
              <img src="/static/res/{{ .Image }}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ .Product.Name }}</h5>
                <p class="card-text">{{ .Product.Description }}</p>
                <p class="card-text">Тип упаковки: {{ .Package.Name }}</p>
                <div class="row">
                    <form class="col-6" method="POST" enctype="multipart/form-data">
                        <input type="text" name="id" class="form-control" hidden value="{{ .Product.ID }}">
                        <button type="submit" name="type" value="buy" class="btn btn-outline-primary">{{ .Product.Price }} ₽</button>
                    </form>
                    <div class="col-6">
                        <a class="btn-right">{{ .Product.Weight }} гр</a>
                    </div>
                </div>
              </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
