<form class="custom-form" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="inputName">Имя</label>
    <input type="name" name="fname" class="form-control" id="inputName" aria-describedby="nameHelp">
  </div>
  <div class="form-group">
    <label for="inputName">Фамилия</label>
    <input type="name" name="sname" class="form-control" id="inputName" aria-describedby="nameHelp">
  </div>
  <div class="form-group">
    <label for="inputName">Телефон</label>
    <input type="name" name="phone" class="form-control" id="inputName" aria-describedby="nameHelp">
  </div>
  <div class="form-group">
    <label for="inputName">Логин</label>
    <input type="name" name="login" class="form-control" id="inputName" aria-describedby="nameHelp">
  </div>
  <div class="form-group">
    <label for="inputPassword">Пароль</label>
    <input type="password" name="password" class="form-control" id="inputPassword">
    <small id="passwordHelp" class="form-text text-muted">Никому не сообщайте свой пароль</small>
  </div>
  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
