
@font-face {
	font-family: journalism;
	src: url('/static/font/journalism.ttf');
}

.logo-text {
    font-family: journalism;
    font-size: 60px;
    text-decoration: none !important;
    color: #212529 !important;
}

.none-decor {
    text-decoration: none !important;
    color: #212529 !important;
}

.text-date {
    position: absolute !important;
    right: 20px !important;
    cursor: default !important;
}

.footer-text {
    margin-top: 18px;
}

.content {
    min-height: 55vh;
}

.custom-form {
    max-width: 400px;
    margin: auto;
}

.alert {
    position: fixed !important;
    top: 20px;
    right: 20px;
}

.btn-right {
    position: absolute !important;
    padding: .375rem .75rem;
    right: 15px;
}

.list-group-item {
    text-align: left;
}

.custom-item {
    margin-left: 15px;
}

@media (min-width: 576px){
    .card-columns {
        column-count: 2 !important;
    }
}
